@using EntityLayer.Concrete
@model List<Heading>
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>AdminLTE 3 | Dashboard 3</title>
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to to the body tag
to get the desired effect
|---------------------------------------------------------|
|LAYOUT OPTIONS | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img 
                     style="opacity: .8">
                <span  class="brand-text font-weight-light">S.Ç Developer</span>
            </a>
            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                    </div>
                    <div class="info-box-icon">
                        <h3 style="margin-left:27%;"><a href="#" class="d-block">Gündem</a></h3>
                        <!---beterbocekler2.tr.gg kod başlangıc--->
                        <script language="JavaScript">
                            var now = new Date(); var yr = now.getYear(); var mName = now.getMonth() + 1; var dName = now.getDay() + 1;
                            var yr_str = " 19"; // yil 2000 iken, 19 sayisinin ï¿½ikmamasini saglayacak string
                            var dayNr = ((now.getDate() < 10) ? "" : "") + now.getDate(); if (dName == 1) Day = "Pazar"; if (dName == 2) Day = "Pazartesi"; if (dName == 3) Day = "Salı"; if (dName == 4) Day = "ï¿½arşamba"; if (dName == 5) Day = "Perşembe"; if (dName == 6) Day = "Cuma HAYIRLI CUMALAR"; if (dName == 7) Day = "Cumartesi"; if (mName == 1) Month = "Ocak"; if (mName == 2) Month = "Şubat"; if (mName == 3) Month = "Mart";
                            if (mName == 4) Month = "Nisan"; if (mName == 5) Month = "Mayıs"; if (mName == 6) Month = "Haziran"; if (mName == 7) Month = "Temmuz"; if (mName == 8) Month = "Ağustos"; if (mName == 9) Month = "Eylï¿½l";
                            if (mName == 10) Month = "Ekim"; if (mName == 11) Month = "Kasım"; if (mName == 12) Month = "Aralık";
                            if (yr > 99) {
                                yr_str = " ";
                                if (yr < 2000) yr += 1900;
                            } var todaysDate = (" " + dayNr + " " + Month + yr_str + yr + "" + " - " + Day + ""); document.open(); document.write("<FONT face=arial SIZE=4 color=white>" + todaysDate + "</FONT>");// -->
                        </script>  <!---beterbocekler2.tr.gg kod bitişi--->
                    </div>
                </div>
                <!-- Sidebar Menu -->
                @foreach (var item in Model)
                {
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item">
                                <a href="/Default/Headings/@item.HeadingID" class="nav-link">
                                    <p>
                                        @item.HeadingName 
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                }
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            @Html.Action("Index", "Default")
            <div class="content">
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    <!-- jQuery -->
    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/AdminLTE-3.0.4/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/AdminLTE-3.0.4/dist/js/adminlte.js"></script>
    <!-- OPTIONAL SCRIPTS -->
    <script src="~/AdminLTE-3.0.4/plugins/chart.js/Chart.min.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/demo.js"></script>
    <script src="~/AdminLTE-3.0.4/dist/js/pages/dashboard3.js"></script>
    <script src="~/AdminLTE-3.0.4/plugins/summernote/summernote-bs4.min.js"></script>
    <script>
        $(function () {
            //Add text editor
            $('#compose-textarea').summernote()
            var tarih = new Date();
        })</script>
</body>
</html>